@page "/cyclic-rotation"

<PageTitle>Cyclic Rotation</PageTitle>

<MudText Typo="Typo.h3">Cyclic Rotation</MudText>
<MudText Class="mb-4">Rotate an array to the right by a given number of steps.</MudText>
<MudCard>
    <MudCardContent>
        <MudText Class="mx-10 mb-4" Typo="Typo.body2">
            <p>
                An array A consisting of N integers is given. Rotation of the array means that each element is shifted right by one index, and the last element of the array is moved to the first place. For example, the rotation of array A = [3, 8, 9, 7, 6] is [6, 3, 8, 9, 7] (elements are shifted right by one index and 6 is moved to the first place).
            </p>
            <p>
                The goal is to rotate array A K times; that is, each element of A will be shifted to the right K times.
            </p>
            <p>
                Write a function: <br />

                class Solution { public int[] solution(int[] A, int K); } <br />

                that, given an array A consisting of N integers and an integer K, returns the array A rotated K times. <br />
            </p>
            <p>
                For example, given <br />

                A = [3, 8, 9, 7, 6] <br />
                K = 3 <br />
                the function should return [9, 7, 6, 3, 8]. Three rotations were made: <br />

                [3, 8, 9, 7, 6] -> [6, 3, 8, 9, 7] <br />
                [6, 3, 8, 9, 7] -> [7, 6, 3, 8, 9] <br />
                [7, 6, 3, 8, 9] -> [9, 7, 6, 3, 8] <br />
                For another example, given <br />

                A = [0, 0, 0] <br />
                K = 1 <br />
                the function should return [0, 0, 0] <br />

                Given <br />

                A = [1, 2, 3, 4] <br />
                K = 4 <br />
                the function should return [1, 2, 3, 4] <br />

                Assume that: <br />

                N and K are integers within the range [0..100]; <br />
                each element of array A is an integer within the range [−1,000..1,000]. <br />
                In your solution, focus on correctness. The performance of your solution will not be the focus of the assessment. <br />
            </p>
        </MudText>
    </MudCardContent>
</MudCard>
<MudStack Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.Baseline">
    <MudTextField InputMode="InputMode.text" T="string" Variant="Variant.Text" Clearable="true" @bind-Value="arrayValues" AutoFocus="true" Label="Enter values to array separated by comma"></MudTextField>
    <MudTextField InputMode="InputMode.numeric" T="int" Variant="Variant.Text" Clearable="true" @bind-Value="k" MaxLength="100" Label="Enter rotation"></MudTextField>
    
    <MudSwitch T="bool" Label="Orientation" ThumbIconColor="Color.Primary" ThumbIcon="@(orientation ? Icons.Material.Filled.ChevronRight : Icons.Material.Filled.ChevronLeft)" @bind-Value="@orientation" />

    <MudButton OnClick="Rotate" Variant="Variant.Outlined" Color="Color.Success">Rotate</MudButton>
</MudStack>
Result:
<br />
@string.Join(" => ", result)


@code {
    public string? arrayValues { get; set; }
    public int k { get; set; }
    public bool orientation { get; set; }
    private List<int> a { get; set; } = new List<int>();
    private List<string> result { get; set; } = new List<string>();

    public void Rotate()
    {
        if (ValidateAndFillArrayValues())
        {
            if (!orientation)
            {
                //left
                for(var cnt = 1; cnt <= k; cnt++)
                {
                    int first = a[0];
                    a.RemoveAt(0);
                    a.Add(first);
                    result.Add($"[{string.Join(",", a)}]");
                }
            }
            else
            {
                //right
                for (var cnt = 1; cnt <= k; cnt++)
                {
                    a = a.Skip(a.Count - 1).Concat(a.Take(a.Count - 1)).ToList();
                    result.Add($"[{string.Join(",", a)}]");
                }
            }
        }
        this.StateHasChanged();
    }

    public bool ValidateAndFillArrayValues()
    {
        if (a.Count > 0) return true;
        if (!string.IsNullOrWhiteSpace(arrayValues))
        {
            var arrValues = arrayValues.Split(",");
            foreach (var item in arrValues)
            {
                int v = Convert.ToInt32(item);
                if (-1000 <= v && v <= 1000)
                {
                    a.Add(v);
                }
                else
                {
                    return false;
                }
            }
            result.Add($"[{string.Join(",", arrayValues)}]");
            return true;
        }
        return false;
    }
}
